<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {page: "Confirm Scribble Delete" }) %>

    <body data-bs-theme="custom">
        <%- include('../partials/nav.ejs', {auth: auth}) %>
            <main class="p-5 d-flex flex-column mt-5">
                <h1 class="h1 fw-normal text-left mb-5">Are you sure you want to delete this post?</h1>
                <div class="w-75 mx-auto">
                    <section class="d-flex flex-column gap-2 card">
                        <h5 class="card-header">
                            <%= title %>
                        </h5>
                        <p class="card-body ws-preLine">
                            <%= content %>
                        </p>
                        <span class="d-flex justify-content-between card-footer">
                            <small>
                                <%= author %>
                            </small>
                            <small>
                                <%= date %>
                            </small>
                        </span>
                    </section>
                    <div class="d-flex gap-3 w-100">
                        <form action="/deleteScribble" method="POST" class="w-100">
                            <input type="hidden" name="fileName" value="<%= fileName %>" />
                            <input type="submit" value="Confirm Delete" class="btn btn-danger w-100 py-2 mt-3" />
                        </form>
                        <a href="/dashboard" class="btn btn-secondary w-100 py-2 mt-3">Cancel</a>
                    </div>
                </div>
            </main>
    </body>

</html>